Repository jamescodesthings/jamescodesthings.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Adding basic config
  .circleci/config.yml
  package-scripts.js
  src/components/app-root/app-root.css
  src/components/app-root/app-root.scss
  src/components/app-root/app-root.tsx
  src/helpers/utils.ts
  src/index.html
  src/manifest.json
  tsconfig.json
Due: eslint, prettier --check

circle typo
  .circleci/config.yml
Due: none

add build step
  .circleci/config.yml
Due: none

circle build to gh-pages
  .circleci/config.yml
  .gitignore
  https/deploy-key
  https/deploy-key.pub
  https/pbcopy
  package-lock.json
  package-scripts.js
  package.json
Due: prettier --check

switch to subdomain
  .circleci/config.yml
Due: none

fix my whoopsie
  https/deploy-key
  https/deploy-key.pub
Due: none

cycle keys
  .circleci/config.yml
Due: none

back to apex for deployment
  .circleci/config.yml
Due: none

spa-fallback and loggers
  package-lock.json
  package-scripts.js
  package.json
  src/404.html
  src/components/app-root/app-root.tsx
  src/global/app.dev.ts
  src/global/app.ts
  src/services/logger.ts
  stencil.config.ts
Due: eslint, prettier --check

0.0.2
  package-lock.json
  package.json
Due: prettier --check

implementing jumbotron
  package-lock.json
  package.json
  src/components/Jumbotron.module.pcss
  src/components/Jumbotron.stories.tsx
  src/components/Jumbotron.tsx
  src/components/SplitFlap.stories.tsx
  src/components/Title.module.pcss
  src/components/split-flap/SplitFlap.module.pcss
  src/components/split-flap/SplitFlap.stories.tsx
  src/components/split-flap/SplitFlap.tsx
  src/components/split-flap/SplitFlapBoard.stories.tsx
  src/components/split-flap/SplitFlapBoard.tsx
  src/components/split-flap/SplitFlapWord.stories.tsx
  src/components/split-flap/SplitFlapWord.tsx
  src/pages/PageHome.tsx
  src/utils/get-class-from-styles.ts
  src/utils/get-random-words.ts
Due: eslint, prettier --check

image textures
  src/assets/textures/45-degree-fabric-dark.png
  src/assets/textures/45-degree-fabric-light.png
  src/assets/textures/readme.md
  src/components/Jumbotron.tsx
  src/components/inputs/Switch.module.pcss
  src/components/inputs/Switch.stories.tsx
  src/components/inputs/Switch.tsx
  src/components/typography/Title.module.pcss
  src/components/typography/Title.stories.tsx
  src/components/typography/Title.tsx
  src/components/typography/TitleWithBackground.module.pcss
  src/components/typography/TitleWithBackground.stories.tsx
  src/components/typography/TitleWithBackground.tsx
  src/components/typography/Typography.module.pcss
  src/components/utils/Breakpoint.module.pcss
  src/components/utils/Breakpoint.stories.tsx
  src/components/utils/Breakpoint.tsx
  src/components/visual/Jumbotron.module.pcss
  src/components/visual/Jumbotron.stories.tsx
  src/components/visual/Jumbotron.tsx
  src/components/visual/Texture.module.pcss
  src/components/visual/Texture.stories.tsx
  src/components/visual/Texture.tsx
  src/pages/PageHome.module.pcss
  src/pages/PageHome.tsx
  src/utils/get-class-from-styles.ts
Due: eslint, prettier --check

cleanup for build
  src/App.css
  src/App.pcss
  src/App.tsx
  src/pages/PageHome.module.pcss
  src/pages/PageHome.tsx
Due: eslint, prettier --check

add build reqs
  .circleci/config.yml
  LICENCE
  package-lock.json
  package.json
  readme.md
Due: prettier --check

lint and format
  .eslintignore
  .prettierignore
  src/components/typography/TitleWithBackground.tsx
  src/context/ThemeContext.tsx
  src/main.tsx
  src/pages/PageHome.stories.tsx
  src/styles/google-fonts.css
Due: eslint, prettier --check

Updates
  .circleci/config.yml
  CNAME
  assets/45-degree-fabric-dark-8031f9d3.png
  assets/index-b41c86a0.js
  assets/index-d1c8483f.css
  index.html
  vite.svg
Due: prettier --check

update title
  index.html
Due: prettier --check

Updates
  index.html
Due: prettier --check

what is a gh repo without some sheilds?
  readme.md
Due: prettier --check

why have one badge when you can have 5?
  readme.md
Due: prettier --check

on a single line
  readme.md
Due: prettier --check

try force chrome to see its in english
  index.html
Due: prettier --check

Updates
  assets/favicon-color-120-44871374.png
  assets/favicon-color-128-bd99f5c0.png
  assets/favicon-color-152-d4454441.png
  assets/favicon-color-180-4d0f52d4.png
  assets/favicon-color-192-ecbeb943.png
  assets/favicon-color-196-ce700e45.png
  assets/favicon-color-228-34194bc4.png
  assets/favicon-color-96-4dc7e698.png
  assets/favicon-color-a3013366.svg
  index.html
Due: prettier --check

REMOVE old vite favicon (default)
  index.html
  public/vite.svg
Due: prettier --check

Updates
  index.html
  vite.svg
Due: prettier --check

add paper textures
  src/assets/textures/beige-paper.png
  src/assets/textures/black-paper.png
  src/assets/textures/cardboard-flat.png
  src/assets/textures/cardboard.png
  src/assets/textures/clean-gray-paper.png
  src/assets/textures/cream-paper.png
  src/assets/textures/exclusive-paper.png
  src/assets/textures/fabric-dark.png
  src/assets/textures/fabric-light.png
  src/assets/textures/groovepaper.png
  src/assets/textures/handmade-paper.png
  src/assets/textures/light-paper-fibers.png
  src/assets/textures/lined-paper-2.png
  src/assets/textures/natural-paper.png
  src/assets/textures/notebook-dark.png
  src/assets/textures/notebook.png
  src/assets/textures/paper-1.png
  src/assets/textures/paper-2.png
  src/assets/textures/paper-3.png
  src/assets/textures/paper-fibers.png
  src/assets/textures/paper.png
  src/assets/textures/rice-paper-2.png
  src/assets/textures/rice-paper-3.png
  src/assets/textures/rice-paper.png
  src/assets/textures/sandpaper.png
  src/assets/textures/soft-wallpaper.png
  src/assets/textures/textured-paper.png
  src/components/visual/Texture.module.pcss
  src/components/visual/Texture.stories.tsx
Due: eslint, prettier --check

Updates
  assets/beige-paper-89e5db94.png
  assets/black-paper-48f48d93.png
  assets/cardboard-73d3b9c2.png
  assets/cardboard-flat-edc8e8ba.png
  assets/clean-gray-paper-76ac5eaf.png
  assets/cream-paper-6ea793f5.png
  assets/exclusive-paper-c6f71145.png
  assets/fabric-dark-8031f9d3.png
  assets/fabric-light-d5a11c1a.png
  assets/groovepaper-49d1d10c.png
  assets/handmade-paper-b4217bf2.png
  assets/index-4246122a.css
  assets/index-c8b7df2a.js
  assets/index-d1c8483f.css
  assets/light-paper-fibers-a340814a.png
  assets/lined-paper-2-cd747ccd.png
  assets/natural-paper-446de3d9.png
  assets/notebook-dark-7fe9ee63.png
  assets/notebook-e85e90d9.png
  assets/paper-1-f1c95174.png
  assets/paper-2-66476408.png
  assets/paper-3-bc1a50b4.png
  assets/paper-3e1e643f.png
  assets/paper-fibers-b1cdaaed.png
  assets/rice-paper-2-174f73c3.png
  assets/rice-paper-3-3aa41163.png
  assets/rice-paper-a09b093b.png
  assets/sandpaper-b53fd485.png
  assets/soft-wallpaper-4a84ec65.png
  assets/textured-paper-215c2946.png
  index.html
Due: prettier --check

Updates
  assets/favicon-color-120-44871374.png
  assets/favicon-color-128-4000d8ae.png
  assets/favicon-color-128-bd99f5c0.png
  assets/favicon-color-152-d4454441.png
  assets/favicon-color-180-4d0f52d4.png
  assets/favicon-color-192-38354527.png
  assets/favicon-color-192-ecbeb943.png
  assets/favicon-color-196-7e0861ce.png
  assets/favicon-color-196-ce700e45.png
  assets/favicon-color-228-34194bc4.png
  assets/favicon-color-228-6f3c6753.png
  assets/favicon-color-96-4dc7e698.png
  assets/favicon-color-96-b0d4bed3.png
  assets/favicon-color-a3013366.svg
  assets/favicon-color-f61f2c47.svg
  assets/favicon-light-round-120-cfd8a469.png
  assets/favicon-light-round-152-986d574e.png
  assets/favicon-light-round-180-1eac168b.png
  index.html
Due: prettier --check

FIX ios viewport height and REMOVE svgs with broken gradients
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
  src/assets/favicon/favicon-color.svg
  src/assets/favicon/favicon-dark-round.svg
  src/assets/favicon/favicon-dark-transparent.svg
  src/assets/favicon/favicon-dark.svg
  src/assets/favicon/favicon-light-round.svg
  src/assets/favicon/favicon-light-transparent.svg
  src/assets/favicon/favicon-light.svg
  src/utils/postcss-viewport-height-correction.ts
Due: eslint, prettier --check

Updates
  assets/favicon-color-128-4000d8ae.png
  assets/favicon-color-128-77d5f2aa.png
  assets/favicon-color-192-38354527.png
  assets/favicon-color-192-a1588771.png
  assets/favicon-color-196-756c9b89.png
  assets/favicon-color-196-7e0861ce.png
  assets/favicon-color-228-2daced8d.png
  assets/favicon-color-228-6f3c6753.png
  assets/favicon-color-96-3fe9996a.png
  assets/favicon-color-96-b0d4bed3.png
  assets/favicon-color-a9ece98d.svg
  assets/favicon-color-f61f2c47.svg
  assets/favicon-light-round-120-129ec516.png
  assets/favicon-light-round-120-cfd8a469.png
  assets/favicon-light-round-152-7e7d01d0.png
  assets/favicon-light-round-152-986d574e.png
  assets/favicon-light-round-180-1eac168b.png
  assets/favicon-light-round-180-ac5a41c7.png
  assets/index-4246122a.css
  assets/index-48d61060.css
  assets/index-c8b7df2a.js
  assets/index-ccfcc676.js
  index.html
Due: prettier --check

ADD split flap to jumbotron
  raw/favicon.ai
  src/components/visual/Jumbotron.module.pcss
  src/components/visual/Jumbotron.tsx
  src/pages/PageHome.tsx
  tailwind.config.cjs
Due: eslint, prettier --check

add persistence to theme choice
  src/context/ThemeContext.tsx
  src/pages/PageHome.tsx
Due: eslint, prettier --check

Updates
  assets/index-21cb69e4.css
  assets/index-3695d65a.js
  assets/index-48d61060.css
  assets/index-ccfcc676.js
  index.html
Due: prettier --check

cleanup responsive sizing
  raw/favicon.ai
  src/components/split-flap/SplitFlap.module.pcss
  src/components/typography/TitleWithBackground.module.pcss
  src/pages/PageHome.tsx
  tailwind.config.cjs
Due: eslint, prettier --check

Path conditions:
  eslint: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --check: any of: {**/*,*}.{js,jsx,ts,tsx,css,html,scss,json,md}
